<!--
layout: one-column
-->

<div>
    <h1>{{page.date | date:'MMMM d, yyyy'}}</h1>

    <div class="row">
        <div class="columns small-12">
            {% if page.previous %}
            <a href="{{page.previous.url}}" style="margin-right: 2rem;">&larr; Previous update</a>
            {% endif %}
			<a href="/updates">All updates</a>
        </div>
    </div>

    <div class="post-content">
        {{ content }}
    </div>

</div>